In [15]:
import pandas as pd
import numpy as np

In [28]:
def add_2015(df):
    df['year'] = "2015"
    df = df[['listing_id', 'comments', 'year']]
    return df

def add_2016(df):
    df['year'] = "2016"
    df = df[['listing_id', 'comments', 'year']]
    return df

In [17]:
jan_2015 = pd.read_csv('jan15.csv.gz')
mar_2015 = pd.read_csv('mar15.csv.gz')
may_2015 = pd.read_csv('may15.csv.gz')
june_2015 = pd.read_csv('june15.csv.gz')
aug_2015 = pd.read_csv('aug15.csv.gz')
sept_2015 = pd.read_csv('sept15.csv.gz')
oct_2015 = pd.read_csv('oct15.csv.gz')
nov_2015 = pd.read_csv('nov15.csv.gz')
dec_2015 = pd.read_csv('dec15.csv.gz')

jan_2016 = pd.read_csv('jan16.csv.gz')
feb_2016 = pd.read_csv('feb16.csv.gz')
april_2016 = pd.read_csv('april16.csv.gz')
may_2016 = pd.read_csv('may16.csv.gz')
june_2016 = pd.read_csv('june16.csv.gz')
july_2016 = pd.read_csv('july16.csv.gz')
sept_2016 = pd.read_csv('sept16.csv.gz')
oct_2016 = pd.read_csv('oct16.csv.gz')
nov_2016 = pd.read_csv('nov16.csv.gz')
dec_2016 = pd.read_csv('dec16.csv.gz')

In [29]:
# Concat all files for each year and run add year funciton
reviews_2015 = pd.concat([jan_2015, mar_2015, may_2015, june_2015, aug_2015, sept_2015, 
                          oct_2015, nov_2015, dec_2015], ignore_index=True)

review_2015 = add_2015(reviews_2015)  # add 2015 columns

reviews_2016 = pd.concat([jan_2016, feb_2016, april_2016, may_2016, june_2016, 
                          july_2016, sept_2016, oct_2016, nov_2016, dec_2016], ignore_index=True)

review_2016 = add_2016(reviews_2016)  # add 2016 column

In [35]:
# Update headers
def headers(df):
    df = df[['listing_id', 'comments', 'year']]
    return df

reviews_15_16 = pd.concat([reviews_2015, reviews_2016], ignore_index=True)
reviews_15_16 = headers(reviews_15_16)
reviews_15_16.head()

   listing_id                                           comments  year
0     1180670  Ok, if you like the location and don't mind an...  2015
1     4457617  Kleine süße WG, super gelegen, sehr freundlich...  2015
2      722394                            Extremely disappointed.  2015
3     4074444                              Exactly as described.  2015
4       68046  Appartement très sympa, accueillant. A quelque...  2015