In [2]:
# Dependencies 
import pandas as pd

In [3]:
# import/read csv files
jan_csv = pd.read_csv("Data/listings_01.csv", encoding="ISO-8859-1")
feb_csv = pd.read_csv("Data/listings_02.csv", encoding="ISO-8859-1")
mar_csv = pd.read_csv("Data/listings_03.csv", encoding="ISO-8859-1")
apr_csv = pd.read_csv("Data/listings_04.csv", encoding="ISO-8859-1")
may_csv = pd.read_csv("Data/listings_05.csv", encoding="ISO-8859-1")
jun_csv = pd.read_csv("Data/listings_06.csv", encoding="ISO-8859-1")
jul_csv = pd.read_csv("Data/listings_07.csv", encoding="ISO-8859-1")
aug_csv = pd.read_csv("Data/listings_08.csv", encoding="ISO-8859-1")
sep_csv = pd.read_csv("Data/listings_09.csv", encoding="ISO-8859-1")
oct_csv = pd.read_csv("Data/listings_10.csv", encoding="ISO-8859-1")
nov_csv = pd.read_csv("Data/listings_11.csv", encoding="ISO-8859-1")
dec_csv = pd.read_csv("Data/listings_12.csv", encoding="ISO-8859-1")

columns = [ "id",
            "neighbourhood_cleansed",
            "zipcode",
            "latitude",
            "longitude",
            "accommodates"
            "price",
            "review_scores_rating"  ]

csv_list = [jan_csv, feb_csv, mar_csv, apr_csv, may_csv, jun_csv, jul_csv, aug_csv, sep_csv, oct_csv, nov_csv, dec_csv]
filtered_list = []

for month in csv_list:
    month = month[columns]
    
    #add to filtered_list
    filtered_list.append(month)

C:\Users\Pizza\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (43,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Pizza\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (43,61,62,77,78,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Pizza\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (43,61,62,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Pizza\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (43,61,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Pizza\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (43,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Pizza\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (61,87,88) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
# create empty dataframe with same columns
data_2018 = pd.DataFrame(columns=columns)

# append csv files based on same columns
for month in filtered_list:
    data_2018 = data_2018.append(month, ignore_index=True)
    
data_2018.head(20)

,id,neighbourhood_cleansed,zipcode,latitude,longitude,price,review_scores_rating
0,16457286,Bedford-Stuyvesant,11221,40.685559,-73.940650,$38.00,100.0
1,1356652,Bedford-Stuyvesant,11233,40.683917,-73.934671,$90.00,90.0
2,775016,Bedford-Stuyvesant,11221,40.687344,-73.938055,$90.00,100.0
3,773497,Bedford-Stuyvesant,11206,40.694073,-73.945514,$200.00,NaN
4,8468835,Bedford-Stuyvesant,11233,40.679685,-73.907642,$50.00,60.0
5,2530757,Bedford-Stuyvesant,11238,40.687762,-73.957620,$160.00,NaN
6,7363337,Bedford-Stuyvesant,11221,40.693145,-73.942200,$101.00,91.0
7,4624657,Bedford-Stuyvesant,11221,40.685887,-73.932855,$500.00,100.0
8,5672471,Bedford-Stuyvesant,11216,40.681300,-73.947600,$65.00,NaN
9,17299,Bedford-Stuyvesant,11233,40.682760,-73.935026,$180.00,81.0
10,29013,Bedford-Stuyvesant,11238,40.683318,-73.954696,$60.00,95.0
11,32023,Bedford-Stuyvesant,11233,40.682957,-73.936620,$125.00,91.0
12,93313,Bedford-Stuyvesant,11216,40.683138,-73.939633,$120.00,93.0
13,316238,Bedford-Stuyvesant,11216,40.692127,-73.951002,$135.00,96.0
14,863209,Bedford-Stuyvesant,11233,40.681935,-73.934221,$90.00,93.0
15,1280412,Bedford-Stuyvesant,11238,40.690483,-73.960238,$100.00,NaN
16,1758391,Bedford-Stuyvesant,11221,40.696963,-73.935770,$80.00,91.0
17,1805150,Bedford-Stuyvesant,11216,40.683660,-73.950085,$61.00,93.0
18,2098030,Bedford-Stuyvesant,11213,40.678945,-73.939342,$90.00,96.0
19,3484030,Bedford-Stuyvesant,11206,40.696325,-73.942333,$53.00,96.0

In [23]:
# drop rows with NaN values and values in zipcode column that do not match criteria
data_2018 = data_2018.dropna(axis=0, how='any')
data_2018 = data_2018.drop(data_2018[data_2018['zipcode'].astype(str).map(len) != 5].index)

data_2018.head(20)

,id,neighbourhood_cleansed,zipcode,latitude,longitude,price,review_scores_rating
0,16457286,Bedford-Stuyvesant,11221,40.685559,-73.940650,$38.00,100.0
1,1356652,Bedford-Stuyvesant,11233,40.683917,-73.934671,$90.00,90.0
2,775016,Bedford-Stuyvesant,11221,40.687344,-73.938055,$90.00,100.0
4,8468835,Bedford-Stuyvesant,11233,40.679685,-73.907642,$50.00,60.0
6,7363337,Bedford-Stuyvesant,11221,40.693145,-73.942200,$101.00,91.0
7,4624657,Bedford-Stuyvesant,11221,40.685887,-73.932855,$500.00,100.0
9,17299,Bedford-Stuyvesant,11233,40.682760,-73.935026,$180.00,81.0
10,29013,Bedford-Stuyvesant,11238,40.683318,-73.954696,$60.00,95.0
11,32023,Bedford-Stuyvesant,11233,40.682957,-73.936620,$125.00,91.0
12,93313,Bedford-Stuyvesant,11216,40.683138,-73.939633,$120.00,93.0
13,316238,Bedford-Stuyvesant,11216,40.692127,-73.951002,$135.00,96.0
14,863209,Bedford-Stuyvesant,11233,40.681935,-73.934221,$90.00,93.0
16,1758391,Bedford-Stuyvesant,11221,40.696963,-73.935770,$80.00,91.0
17,1805150,Bedford-Stuyvesant,11216,40.683660,-73.950085,$61.00,93.0
18,2098030,Bedford-Stuyvesant,11213,40.678945,-73.939342,$90.00,96.0
19,3484030,Bedford-Stuyvesant,11206,40.696325,-73.942333,$53.00,96.0
21,12809182,Bedford-Stuyvesant,11206,40.698543,-73.947568,$55.00,88.0
22,13250303,Bedford-Stuyvesant,11205,40.694835,-73.958517,$70.00,90.0
25,8648134,Bedford-Stuyvesant,11216,40.682216,-73.952840,$130.00,100.0
32,16298489,Bedford-Stuyvesant,11216,40.692012,-73.947503,$35.00,90.0

In [25]:
# check types of each metric
data_2018.dtypes

id                          int64
neighbourhood_cleansed     object
zipcode                    object
latitude                  float64
longitude                 float64
price                      object
review_scores_rating      float64
dtype: object

In [37]:
# get rid of ($) from price column
data_2018["price"] = data_2018["price"].replace('[\$,]','', regex=True).astype(float)

# convert metrics to numeric
numeric_col = [ "zipcode",
                "price" ]

for col in numeric_col:
    data_2018[col] = pd.to_numeric(data_2018[col])

data_2018.dtypes

id                          int64
neighbourhood_cleansed     object
zipcode                     int64
latitude                  float64
longitude                 float64
price                     float64
review_scores_rating      float64
dtype: object

In [39]:
# clean up column names
data_2018 = data_2018.rename(columns={
    'neighbourhood_cleansed':'neighborhood',
    'review_scores_rating':'rating'
})

In [41]:
# export data to csv file
data_2018.to_csv('Data/data_2018.csv')